.App{
    min-height: 100vh;
    display: flex;
    background: #f4f2ee;
}
/* POST PAGE STYLE */
.post-input:hover{
background: #edf3f8;
cursor: pointer;
}
.option{
    position: absolute;
    right: 60px;
}
.deleteBtn:hover{
background: red;
color: white;
}
.updateBtn:hover{
background: #38B2AC;
color: white;
}
@media(max-width:750px){
.resOption{
    position: absolute;
    left: 20px;
    height: 200px!important;
    top: 120px;
    z-index: 1;
}
}
.resBtn{
    position: absolute;
    top:20px;
    left:-40%;

}